header{
  background-color:#b3cccc;
}

.name{
  float:left;
  color: solid black;
  margin-left: 20px;
  margin-top: 40px;
  font-weight: 700px;
}

h2{
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  color: white;
}

#home li{
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: white;
  list-style: none;
}

.icon-menu {
  width: 2em;
  float: right;
}

@media only screen
  and (max-width: 640px){
  .main-nav {
  display: none;
}
}

@media only screen
  and (min-width: 640px){
  .icon-menu {
  display: none;
}
}

.main-nav {
  padding: .2em .2em .2em 2em;
}

.main-nav ul {
  /*display: none;*/
  padding: 0;
  list-style: none;
  clear: both;
  width: 90%
}

.main-nav li{
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  color: white;
  /*width: 15%;*/
  display: inline;
}

.main-nav ul li: hover {
    color: #ffff00;
}

.img1{
  width: 200px ;
  height: 200px;
  border-radius: 50%;
  float: center;
}
